In [3]:
import pandas as pd
import numpy as np



df = pd.read_csv("C:\\Users\Allu\Documents\Joda_ht\listings.csv~\listings.csv")

In [4]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       ...
       'instant_bookable', 'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object', length=106)

In [5]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,1078,https://www.airbnb.com/rooms/1078,20190308173541,2019-03-08,*UT/Hyde Park Craftsman Apartment,This upstairs apartment is surrounded by trees...,The garage apartment was built in the 1920s an...,This upstairs apartment is surrounded by trees...,none,"Hyde Park is close to downtown, UT, 6th street...",...,t,f,flexible,f,f,3,3,0,0,1.63
1,2265,https://www.airbnb.com/rooms/2265,20190308173541,2019-03-08,Zen-East in the Heart of Austin,Zen East is situated in a vibrant & diverse mu...,This colorful and clean 1923 house was complet...,Zen East is situated in a vibrant & diverse mu...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,3,2,1,0,0.19
2,5245,https://www.airbnb.com/rooms/5245,20190308173541,2019-03-08,"Green, Colorful, Clean & Cozy home",NaN,Situated in a vibrant & diverse multicultural ...,Situated in a vibrant & diverse multicultural ...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,3,2,1,0,0.07
3,5456,https://www.airbnb.com/rooms/5456,20190308173541,2019-03-08,"Walk to 6th, Rainey St and Convention Ctr",Fabulous location for walking to Convention Ce...,Cute Private Studio apartment located in Willo...,Fabulous location for walking to Convention Ce...,none,My neighborhood is ideally located if you want...,...,f,f,strict_14_with_grace_period,f,t,1,1,0,0,3.88
4,5769,https://www.airbnb.com/rooms/5769,20190308173541,2019-03-08,NW Austin Room,NaN,Looking for a comfortable inexpensive room to ...,Looking for a comfortable inexpensive room to ...,none,Quiet neighborhood with lots of trees and good...,...,f,f,moderate,t,t,1,0,1,0,2.21

In [6]:
df2 = pd.read_csv("C:\\Users\Allu\Documents\Joda_ht\calendar.csv\calendar.csv")

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [7]:
df2.columns

NameError: name 'df2' is not defined

In [18]:
df2.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,5245,2019-03-08,f,$150.00,$150.00,28,180
1,2265,2019-03-08,f,$225.00,$225.00,2,183
2,2265,2019-03-09,f,$275.00,$275.00,2,183
3,2265,2019-03-10,f,$275.00,$275.00,2,183
4,2265,2019-03-11,f,$275.00,$275.00,2,183

In [27]:
df3 = pd.read_csv("C:\\Users\Allu\Documents\Joda_ht\calendar.csv\\reviews.csv")

In [28]:
df3.columns

Index(['listing_id', 'id', 'date', 'reviewer_id', 'reviewer_name', 'comments'], dtype='object')

In [29]:
df3.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,1078,142,2008-09-13,1344,Amy,A fabulously cozy place! It was slightly diff...
1,1078,207074,2011-03-22,451657,Angela,perfect!---:) Will stay again!
2,1078,217779,2011-04-04,473682,Jenn,I had a great stay at Brian's garden apartment...
3,1078,6841593,2013-08-26,8153398,Kathryn,The reservation was canceled 19 days before ar...
4,1078,7071134,2013-09-05,420381,Rita,Fantastic Experience! My daughter and I staye...

In [30]:
df.count()

id                                              12126
listing_url                                     12126
scrape_id                                       12126
last_scraped                                    12126
name                                            12125
summary                                         11771
space                                            9096
description                                     12014
experiences_offered                             12126
neighborhood_overview                            7840
notes                                            5428
transit                                          7671
access                                           7660
interaction                                      7928
house_rules                                      8062
thumbnail_url                                       0
medium_url                                          0
picture_url                                     12126
xl_picture_url                                      0
host_id                                         12126
host_url                                        12126
host_name                                       12124
host_since                                      12124
host_location                                   12094
host_about                                       7991
host_response_time                               8394
host_response_rate                               8394
host_acceptance_rate                                0
host_is_superhost                               12124
host_thumbnail_url                              12124
                                                ...
has_availability                                12126
availability_30                                 12126
availability_60                                 12126
availability_90                                 12126
availability_365                                12126
calendar_last_scraped                           12126
number_of_reviews                               12126
number_of_reviews_ltm                           12126
first_review                                     8945
last_review                                      8945
review_scores_rating                             8791
review_scores_accuracy                           8786
review_scores_cleanliness                        8787
review_scores_checkin                            8784
review_scores_communication                      8786
review_scores_location                           8777
review_scores_value                              8778
requires_license                                12126
license                                            26
jurisdiction_names                              12125
instant_bookable                                12126
is_business_travel_ready                        12126
cancellation_policy                             12126
require_guest_profile_picture                   12126
require_guest_phone_verification                12126
calculated_host_listings_count                  12126
calculated_host_listings_count_entire_homes     12126
calculated_host_listings_count_private_rooms    12126
calculated_host_listings_count_shared_rooms     12126
reviews_per_month                                8945
Length: 106, dtype: int64

In [33]:
df.count()

id                                              12126
listing_url                                     12126
scrape_id                                       12126
last_scraped                                    12126
name                                            12125
summary                                         11771
space                                            9096
description                                     12014
experiences_offered                             12126
neighborhood_overview                            7840
notes                                            5428
transit                                          7671
access                                           7660
interaction                                      7928
house_rules                                      8062
thumbnail_url                                       0
medium_url                                          0
picture_url                                     12126
xl_picture_url                                      0
host_id                                         12126
host_url                                        12126
host_name                                       12124
host_since                                      12124
host_location                                   12094
host_about                                       7991
host_response_time                               8394
host_response_rate                               8394
host_acceptance_rate                                0
host_is_superhost                               12124
host_thumbnail_url                              12124
                                                ...
has_availability                                12126
availability_30                                 12126
availability_60                                 12126
availability_90                                 12126
availability_365                                12126
calendar_last_scraped                           12126
number_of_reviews                               12126
number_of_reviews_ltm                           12126
first_review                                     8945
last_review                                      8945
review_scores_rating                             8791
review_scores_accuracy                           8786
review_scores_cleanliness                        8787
review_scores_checkin                            8784
review_scores_communication                      8786
review_scores_location                           8777
review_scores_value                              8778
requires_license                                12126
license                                            26
jurisdiction_names                              12125
instant_bookable                                12126
is_business_travel_ready                        12126
cancellation_policy                             12126
require_guest_profile_picture                   12126
require_guest_phone_verification                12126
calculated_host_listings_count                  12126
calculated_host_listings_count_entire_homes     12126
calculated_host_listings_count_private_rooms    12126
calculated_host_listings_count_shared_rooms     12126
reviews_per_month                                8945
Length: 106, dtype: int64

In [34]:
df2.count()

listing_id        4425990
date              4425990
available         4425990
price             4425990
adjusted_price    4425990
minimum_nights    4425990
maximum_nights    4425990
dtype: int64

In [39]:
df3.count()

listing_id       294876
id               294876
date             294876
reviewer_id      294876
reviewer_name    294876
comments         294753
dtype: int64

In [ ]:
df3.groupby('listing_id').count()[['comments']]

In [49]:
df4 = pd.read_csv("C:\\Users\Allu\Documents\Joda_ht\\austin-weather\\austin_weather.csv")

In [51]:
df4.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [69]:
df4_lower = df4.rename(str.lower, axis='columns')

In [ ]:
df3.merge(df4_lower, how='left')

In [ ]:
df.count()